.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    background-color: red;
    padding: 10px 0;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0 auto;  
    /*margin top and bottom, 0. Margin left and right auto */
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

#character_nav {
    background-color: #675050;
    background-image: url('../images/characters_art_mas_mob_01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.characters {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.characters li {
    height: 220px;
    margin: 10px 8px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 155px 0 rgb(255, 0, 0) inset;
    transition: box-shadow .2s ease;
}

.characters li:hover {
    box-shadow: 0 220px 0 rgb(255, 0, 0) inset;
}

.characters li h5 {
    color: #fff;
    padding: 12px 8px;
}

article, #instructions {
    padding: 20px;
}

article h3, #instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

article p, #instructions p {
    font-size: 18px;
    text-align: center;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url('../images/marvelSprites.jpg');
}

#carol {background-position: -150px 0;}
#clint {background-position: -300px 0;}
#hulk {background-position: -450px 0;}
#thor {background-position: -600px 0;}
#widow {background-position: -750px 0;}

#cap:hover, #carol:hover, #clint:hover, #hulk:hover, #thor:hover, #widow:hover {
    background-position-y: -150px;
}

footer {
    text-align: center;
    padding: 20px 0;
}

.sticky_footer {
    height: 80px;
    background-color: rgb(40,37,37);
    position: sticky;
    top: 100%;
}